---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Highlights from "../components/Highlights.astro";
import Reviews from "../components/Reviews.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Restaurant La Canal | Cuina Casolana a Olot">
	<Header />
	<main>
		<Hero />
		<About />
		<Highlights />
		<Reviews />
	</main>
	<Footer />
</Layout>
